body {
    margin: 0;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
  }
  
  h1 {
    font-family: 'Times', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin: 2% auto 0 auto;
    color: navy;
  }

  p {
    font-size: 1.125rem;
  }
  
  a {
    color: #874C62;
    text-decoration: none;
  }
  
  a:hover {
    color:#D36B00;
  }
  
  
  hr {
    border-style: none;
    border-style: dotted none none;
    border-color: #D36B00;
    border-width: 5px;
    width: 5%;
    margin: 2.5rem auto;
  }
  
  ol {
    text-align: left;
  }
  /* Nav Bar */
  .navbar-custom {
    background-color: #694E4E;
    opacity: 0.90;
  }
  
  .brand-custom {
    color:#F7E6B5;
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 0.05em;
  }
  
  .nav-link-custom {
    color:#F1EFDC;
    font-family: 'Lato', sans-serif;
  }
  
  .dropdown-custom {
    background-color: #694E4E;
    font-weight: bold;
  }
  
  .dropdown-item0-custom {
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #785E5C;
  }
  
  .dropdown-item-custom {
    color: #F1EFDC;
  }
  
  .dropdown-item-custom:hover {
    background-color: #F7E6B5;
    color:#694E4E;
    font-weight: bold;
  }
  
  .card-link-custom {
    font-weight: bold;
  }
  
  /* Grids */
  
  /* Profile */
  .profile {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'img title'
    'img title'
    'img txt'
    'img txt';
  }
  
  .profile-picture,
  iframe {
    width: 50%;
    min-width: 24rem;
    filter: brightness(108%) saturate(90%);
    grid-area: img;
    margin: 5% auto;
    position: relative;
  }
  
  .profile-info {
    grid-area: title;
    text-align: left;
    margin: 0 0 5% 10%;
    position: relative;
    /* animation-name: profile-title-slide;
    animation-duration: 1s;   */
  }
  
  .card-text {
    line-height: 125%;
  }
  /* 
  @keyframes profile-title-slide {
    from {left: 25%;}
    to {left: 0;}
  } */
  
  .profile-txt {
    grid-area: txt;
    margin: 0 0 5% 10%;
    position: relative;
    /* animation-name: profile-txt-in;
    animation-duration: 1s;   */
  }
  
  /* @keyframes profile-txt-in {
    from {opacity: 0;}
    to {opacity: 1;}
  } */
  
  .social {
    margin: auto;
    justify-content:end;
  }
  
  .git-user {
    font-size: x-small;
  }
  /* Texts */
  .intro-sent {
    width: 75%;
    color: #181818;
    line-height: 2;
    text-align: left;
    font-size: 1.125rem;
  }
  
  .icons {
    font-size: 2rem;
  }
  
  .sub-title {
    margin: 5.625rem auto 0 auto;
  
  }
  
  .projects,
  .contact-me {
    /* width: 50%; */
    margin: 5.625rem auto 5.625rem auto;
    text-align: center;
    line-height: 2;
  }
  
  .card-title {
    margin: 5% auto;
    color:#694E4E;
    font-weight: 600;
  }
  
  .card-link:hover {
    color:#181818;
  }
  
  .card-text {
   margin: auto;
  }
  
  

  /* Projects */
  .project-img {
    object-fit: cover;  
    width: 26vw;
    height: 20vw;
    margin-bottom: 5%;
    border-radius: 2%;
  }
  
  .project-desc {
    text-shadow: 0.5px 0.5px 0.5px #785E5C;
  }
  
  .project__wrap {
    position: relative;
    /* width: 75%;
    height: 75%; */
    margin: auto;
  }
  
  .project__description {
    position: absolute;
    top: 0;
    bottom: 5%;
    left: 0;
    right: 0;
    /* width: 430px; */
    background: #F7E6B5;
    color: #000;
    visibility: hidden;
    opacity: 0;
    margin: auto;
    border-radius: 2%;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .project__wrap:hover .project__description {
    visibility: visible;
    opacity: .95;
  
  }
  
  .invite {
    width: 50%;
    color: #181818;
    margin: 0 auto 0 auto;
    line-height: 2;
  }
  
  .persuade {
    margin:50px auto;
    width: 75%;
    text-align: center;
  }
  
  //* Buttons *//
  .btn {
    background-image: linear-gradient(top, #42032C, #411530);
    background-image: linear-gradient(to bottom, #42032C, #411530);
    border-radius: 8px;
    font-family: 'Amaranth', sans-serif;
    color: #F1EFDC;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin: 5% 0;
  
  }
  
  .btn:hover {
    background: #874C62;
    background-image: linear-gradient(top, #874C62, #513252);
    background-image: linear-gradient(to bottom, #874C62, #513252);
    text-decoration: none;
    color:#F7E6B5;
  }
  
  //* Sections *//
  .top-section {
    align-content: center;
    background-color: #FFEDDC;
    padding-top: 8.75rem;
    padding-bottom: 6rem;
  }
  
  .middle-section {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-image: url("/images/watercolor.png");
    background-repeat: repeat;
    background-color: #FFF8E1;
    background: linear-gradient(0deg,#FFBC80, #FFF8E1,#FFF8E1 );
    background-size: 100% 150%;
    /* -webkit-mask-image: url("/images/watercolor.png");
    mask-image: url("/images/watercolor.png"); */
  }
  
  
  .projects-section {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  
  .bottom-section {
    background-color: #FFBC80;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  
  
  //* Footer *//
  .footer-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .footer-link:hover {
    color: #FFFBE9;
  }
 
 
