body {
    margin: 0;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    background: #006666;
  }
  
  h1 {
    font-family: 'Times', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin: 2% auto 0 auto;
    color: white;
  }

  p {
    font-size: 1.125rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color:#D36B00;
  }
 
 
